<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {%- include head.html -%}
    {%- for stylesheet in page.head.stylesheets -%}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {%- endfor -%}
    {%- for script in page.head.scripts -%}
      <script src="{{ script.src }}" defer></script>
    {%- endfor -%}
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
